html, body {
    background: white;
    padding: 0;
    margin: 0;
}

* {
    font-family: 'Inter', sans-serif;
    font-style: normal;
}

.container {
    max-width: 400px;
    margin: 200px auto;
    position: relative;
}

.card {
    display: flex;
    flex-direction: column;
    position: relative;
    border: 1px solid #C6C6C6;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 70px 20px 30px 20px;
}

.body {
    margin-bottom: 20px;
}

.image-container {
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rebeccapurple;
    width: 100px;
    height: 100px;
    z-index: 10;
}

.image {
    border-radius: 50%;
    position: absolute;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content {
    text-align: center;
    margin-bottom: 20px;
}

.title {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.408px;
    color: #0D8112;
    margin-bottom: 4px;
}

.message {
    font-weight: 300;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: -0.408px;
    color: #585858;
    margin-bottom: 8px;
}

.total-price {
    font-weight: 700;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: -0.408px;
    color: #585858;
}

.buttons {
    display: flex;
    justify-content: center;
}

.btn {
    border-radius: 4px;
    font-weight: 600;
    font-size: 12px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.408px;
    padding: 6px 10px;
    margin: 0 12px;
    flex: 1 1 50%;
}

.primary-btn {
    background: #0D8112;
    color: #FFFFFF;
}

.secondary-btn {
    border: 1px solid #0D8112;
    color: #0D8112;
}

.free-gift {
    position: absolute;
    font-weight: 700;
    font-size: 13px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.408px;
    color: #773E75;
    bottom: -10px;
    left: 50%;
    max-width: 120px;
    transform: rotate(-5.2deg) translateX(-50%);
    background: #FFB8EF;
    box-sizing: border-box;
    padding: 4px 24px;
}

@media (min-width: 768px) {
    .card {
        justify-content: center;
        padding: 40px 30px;
    }

    .container {
        display: flex;
        max-width: 900px;
        margin: 200px auto 0 auto;
    }

    .image-container {
        position: relative;
        height: 100%;
        left: unset;
        top: unset;
        transform: unset;
        min-height: 100%;
        width: auto;
        max-width: 30%;
    }

    .image {
        position: relative;
        border-radius: 0;
        top: unset;
        left: unset;
        transform: unset;
    }

    .body {
        text-align: left;
    }

    .free-gift {
        bottom: unset;
        top: 0;
        right: 0;
        left: unset;
        transform: rotate(7deg) translate(10%, -50%);
    }
}